<!DOCTYPE html>
<html>
	<head>
	<title><%= title %> Node Tunes Artists Page </title>
	</head>
<body>
<h1> Node Tunes | Artists</h1>
<a href="/artists/new/">Go to New Artist</a>
	<table>
		<thead>
			<tr>
				<th>Artist</th>
				<th>Genre</th>
				<th>Wikis</th>
			</tr>
		</thead>
    <tbody>
      <% artists.forEach(function (artist) { %>
        <tr>
          <td><%= artist.artists %></td>
          <td><%= artist.genre %></td>
          <td><%= artist.wiki %></td>
          <td>
						<form action="/artists <%= artists._id %>/submit" method="POST">
 						</form>
   				</td>
        </tr>
      <% }); %>
     </tbody>
	</table>
</body>
</html>

